.display-none {
  display: none;
}
.display-block {
  display: block;
}
.reply-section{
  display: flex;
  flex-direction: row;
}
.button-grp{
  margin: 8px 0;
display: flex;
flex-direction: row;
}
.comment{
  font-size: 20px;
  margin-left: 32px;
  padding-left: 16px;
  width: 200px;
}
.msg-section{
  margin-left: 8px;
}
.reply-section-child{
  margin-left: 8px;
}
.comment-section-container{
  margin: 8px 0;
}